@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;  
    }
    body{
        font-family: 'Urbanist', sans-serif;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
    }
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 80vh;
}

.card{
    background-color: #e9f6f7;
    width: 60%;
}
.card-header{
    color:white;
    background-color: #0E8388;
    padding: 1rem;
}

.header-body{
    padding: 1rem 2rem;
}

.header-body form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header-body form label{
    margin-bottom: 0.5rem;
}

.header-body form input{
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.header-body form button{
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    margin-block: 0.5rem;
    width: 50%;
    margin-inline: 25%;
}
@media only screen and (max-width : 1200px){
    body{
        font-size: max(1.5rem, 4vw);
    }
    
    nav{
        padding: 1rem;
        height: auto;
    }

    } 